@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Jacques+Francois&family=Monomakh&family=Oswald:wght@200..700&family=Playwrite+MX+Guides&family=Rubik+Vinyl&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Imprima", sans-serif;
}

h1 {
    font-family: "Jacques Francois", serif;
}

header {
    background-color: #FFF2F2 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

a {
    color:black;
    margin-right: 30px;
    text-decoration: none;
}

.search {
    background-color: #A9B5DF;
}

.container {
    padding: 4% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchimg {
    margin-bottom: 5%;
    padding-left: 3%;
}

.container input {
    width: 400px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
}

.slider {
    background-color: #2D336B;
    padding: 2%;
}

.carousel img {
    width: 100%;
    object-fit: contain;
}

.slick-slider {
    display: flex !important;
    align-items: center;
    gap: 3%;
}

.carousel__item {
    display: flex !important;
    flex-direction: column;
    margin-right: 20px;
}

.tovar {
    background-image: url(images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #2d336b62, rgba(255, 255, 255, 0.358), #fff2f26e);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    background-color: #2D336B;
    padding: 5%;
}

h2 {
    font-family: "Jacques Francois", serif;
    color: white;
    padding-bottom: 2%;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff2f282;
    border-radius: 10px;
    padding: 5%;
}

input {
    width: 300px;
    height: 35px;
    margin-bottom:5%;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: black;
}

textarea {
    width: 300px;
    height: 200px;
    margin-bottom:5%;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    resize: none;
}

button {
    width: 200px;
    height: 35px;
    margin-bottom:5%;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: white;
}

footer {
    background-color: #2D336B ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

.icons {
    display: flex;
}

.logof {
    display: flex;
    align-items: center;
    padding: 2%;
}

h6 {
    font-family: "Jacques Francois", serif;
    color: white;
}

.logofimg {
    width: 15%;
}